body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}



/* HEADER */

.header{
background:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
border-bottom:1px solid #ddd;
}

.logo{
font-size:22px;
font-weight:bold;
color:#d10000;
}

.menu a{
margin:0 10px;
text-decoration:none;
color:black;
font-size:14px;
}



/* FEATURED ARTICLE */

.featured{
background:white;
margin:10px;
padding:10px;
border-radius:6px;
}

.featured img{
width:100%;
border-radius:6px;
}

.featured h1{
font-size:22px;
margin-top:10px;
}

.featured p{
color:#555;
}

.readbtn{
display:inline-block;
margin-top:10px;
background:#d10000;
color:white;
padding:10px 15px;
text-decoration:none;
border-radius:4px;
}



/* LATEST POSTS */

.latest{
margin:10px;
}

.latest h2{
margin-bottom:10px;
}

.posts{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
}

.card{
background:white;
padding:10px;
border-radius:6px;
}

.card img{
width:100%;
border-radius:5px;
}

.card h3{
font-size:16px;
margin:5px 0;
}

.card p{
font-size:13px;
color:#666;
}



/* FOOTER */

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
margin-top:20px;
}
